__pycache__/
*.pyc
antinomy_analysis.png
empire_silicium_analysis.png
merge_module_analysis.png
phi_data.json
phi_line_analysis.png
phi_convergence_analysis.png
round_model_gradients.png
stability_analysis.png
semantic_analysis.png
epistemic_field_analysis.png
lorenz_field_analysis.png
narrative_phase_space.png
narrative_temporal_dynamics.png
hex_engine_analysis.png
musical_analysis.png
infinite_set_analysis.png
mnemonic_analysis.png
atomic_attention_analysis.png
structural_analysis.png
polynomial_analysis.png
routing_analysis.png
symbolic_attention_analysis.png
lorenz_field_analysis.png
geometry_analysis.png
projector_analysis.png
